article
  width: 100%
  & > header
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display:flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    //  color: blue
