body
  min-height:100vh
  user-select: none
  border:none
  margin:0
  fluid-size: padding
  border: 0rem solid editor-on-color

  &[contenteditable]
    user-select: auto
    border: 1rem solid editor-on-color
    border-top: none
    border-bottom:none

body > *
  display:flex
  flex-direction: row
  align-items: center
  justify-content: space-around

body > header
  fluid-size: margin-bottom
  & > nav
    display:flex
    flex-direction:column
    align-items:flex-start
    justify-content:flex-start;
