body
  min-height:100vh
  border:none
  display:flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  border: 0rem solid editor-on-color

  &[contenteditable]
    user-select: auto
    border: $baseline solid editor-on-color
    border-top: none
    border-bottom:none

body > header
body > main
body > footer
  display:flex
  flex-direction: column
  align-items: center
  justify-content: space-around

body > footer
  padding:$baseline

body > header
  flex-direction: row
  justify-content: space-between
  align-items: center;
  width: 100vw
  height: $baseline * 2
  margin-bottom: $baseline
  & > nav
    
    display:flex
    flex-direction:row
    align-items: center
    justify-content: space-between;
    &: > a:first-child
      display: inline
    & > a
      margin-right:$baseline

body > footer
  flex-direction: column;
