body
  min-height:100vh
  border:none
  margin:0
  display:flex
  flex-direction: column
  align-items: center
  justify-content: flex-start;
  // fluid-size: padding-left padding-right
  border: 0rem solid editor-on-color

  &[contenteditable]
    user-select: auto
    border: 1rem solid editor-on-color
    border-top: none
    border-bottom:none

body > header
body > main
body > footer
  display:flex
  flex-direction: column
  align-items: center
  justify-content: space-around


body > main
body > footer
  fluid-size: padding-left padding-right, 1rem

body > footer
  flex-direction: column;


body > header
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  fluid-size: padding
  width: 100vw
  height: 100vh
  & > nav
    display:flex
    flex-direction:row
    align-items: center
    justify-content: space-between;
    &: > a:first-child
      display: inline
    & > a
      fluid-size: margin-right
