details
  width: 100vw
  overflow: hidden
  padding: $baseline
  margin-top: $baseline
  border:0.15rem solid highlight
  background: highlight
  border-radius:0.25rem
  position:relative

  & > summary
    padding: $baseline
    text-decoration: underline
    cursor: pointer
    &::-webkit-details-marker
      display:none

  &[open]
    & > summary
      text-decoration: none
    & > *:not(summary)
      animation-name: fadeInDown

body
  & > footer >  details
    visibility: none
    display :none
    // animation-delay: 0

  &[contenteditable] > footer >  details
    visibility: visible;
    animation-name: fadeInDown
    display:block

    & style
    & script
      overflow: scroll;
      display: block
      background: black-fill
      color: white-white
      font: 1rem/1.66 Monaco, Mono-Space
      fluid-size: font-size
      margin: $baseline
      white-space: pre
      border-color: dark
      border-radius: 0.33rem;
