details
  overflow: hidden;
  padding:gutter
  margin: gutter
  border:0.15rem solid highlight
  background: highlight
  border-radius:0.25rem
  position:relative

  & > summary
    padding: 2vh 2vw;
    text-decoration: underline
    cursor: pointer
    &::-webkit-details-marker
      display:none

  &[open]
    & > summary
      text-decoration: none
    & > *:not(summary)
      animation-name: fadeInDown
