body > main
  user-select: none
  border:none
  margin:0
  border: 0rem solid editor-on-color

  &[contenteditable=true]
    user-select: auto
    border: 1rem solid editor-on-color
    border-top: none
    border-bottom:none

  &[contenteditable=false]
    border-top: none
    border-bottom:none
