svg
  padding:0
  margin:0

svg#logo
  fluid-size width, 3.8rem, 6.25rem
  fluid-size height, 2.1rem, 3.5rem
  stroke:blue
  fill:green-fill

svg#watermark
  z-index: -1
  width:100vw
  min-height: 110vh
  position:absolute
  top:0
  left:0
  opacity:0.25
  fill:green-fill
  stroke:blue
  stroke-width:0.15
