svg
  overflow: visible
  padding:0
  margin:0

svg#logo
  height:6rem
  width:12rem
  stroke:green
  fill:green-fill

svg#watermark
  z-index: -1
  opacity:0.1
  transform: rotate(180deg);
  width:100vw
  min-height: 100vh
  stroke:green
  stroke-width:0.25
  fill:green-fill
  position:absolute
  top:0
  left:0
