<nav itemref="profile" itemprop="friends">
  <friend>
</nav>

<template id="friend">
  <nav itemscoped itemtype="friends">
    <a itemprop="friend" href="/katie">Katie</a>
    <a itemprop="friend" href="/kristin">kristin</a>
  </nav>
</template>
