<section id="posts" itemscope itemtype="http://schema.org/blog">
  <header>
    <post-form>
  </header>
 </section>
<template id="form">
  <form>
    <textarea name="name" placeholder="Wat?" autofocus></textarea>
    <button>wat</button>
  </form>
</template>

<template id="post">
  <article itemscope itemid="{{me.id}}/posts/{{guid}}" itemtype="http://schema.org/SocialMediaPosting" >
    <header>
      <time itemprop="created_at" datetime="{{post.created_at}}">Just Now</time>
    </header>
    <p itemprop="articleBody">{{post.body}}</p>
  </article>
</template>

<template id="assertions">
  As a user
    I can update my profle with a new post
</template>

<script id="app">
  Vue.component('post-form', {
    template: '#form'
  })
  var app = new Vue({
    el:   'section#posts',
    data: document.getItems("http://schema.org/SocialMediaPosting")
  })
</script>
