<section id="posts" itemscoped itemtype="http://schema.org/blog">

</section>

<template id="post-form">
  <section id="posts" itemscope itemtype="http://schema.org/Blog">
    <header>
      <form action="index.html" method="post">
        <textarea name="name" placeholder="Say it"></textarea>
        <input type="submit" name="" value="Say it">
      </form>
    </header>
  </section>
</template>

<template id="post">
  <article itemscoped itemtype="http://schema.org/SocialMediaPosting" >
    <header>
      <time itemprop="created_at" datetime="{{Date.now()}}">Just Now</time>
    </header>
    <p itemprop="articleBody">The night that we spent among the trees and our love</p>
  </article>
</template>


<template id="assertions">
  As a user
    when I load the page it shows my posts
    /{userid}/posts

    I can update my profle with a new post
    when I post some text to my profile it is refelcted on my facebook page
</template>

<script id="initialize-firebase">
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDpRbQe67nfP2HTxkThxhY2Fk-ru0x2aus",
    authDomain: "littleman-8f289.firebaseapp.com",
    databaseURL: "https://littleman-8f289.firebaseio.com",
    storageBucket: "littleman-8f289.appspot.com",
    messagingSenderId: "363642054727"
  }
  firebase.initializeApp(config)
</script>

<script id="initialize-authentication" type="text/javascript">
  var auth = firebase.auth()
  // [START authstatelistener]
  auth().onAuthStateChanged( (user) => {
    if (user) {
      // User is signed in.
      var isAnonymous = user.isAnonymous;
      var uid = user.uid;
      console.log(isAnonymous, uid)
      console.log("user=", auth().currentUser )
    } else {
      // User is signed out.
      auth().signInAnonymously()
    }
  })
</script>
