<section id="profile" itemscope itemtype="http://schema.org/person" itemid="http://scott-fryxell.github.io">
  <header>
    <profile>
  </header>
</section>

<template id="profile">
  <figure>
    <img src="{{data.graphic}}" alt="">
    <figcaption>{{data.name}}</figcaption>
  </figure>
</template>
