<section id="profile" itemscope itemtype="http://schema.org/person" itemid="http://scott-fryxell.github.io">
  <header>
    <nav>
      <a href="posts">Posts</a>
      <a href="activity">Activity</a>
      <a href="friends">Friends</a>
      <a href="events">Events</a>
      <a href="groups">Groups</a>
    </nav>
  </header>
</section>

<template id="profile">
  <figure>
    <img src="{{data.graphic}}" alt="">
    <figcaption>{{data.name}}</figcaption>
  </figure>
</template>

<template id="tests">


</template>
