<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/application.css">
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <script type="text/javascript" src=application.js></script>
    <title>Little Man</title>
  </head>
  <body class='developer'>
    <header>
      <a href="/#hero"><svg id="logo"><use xlink:href="application.svg#logo"/></svg></a>
      <nav>
        <a href="/resume">Resume</a>
        <a href="/typography">Typography</a>
        <a href="/feed">Feed</a>
        <a href="/storage">Storage</a>
      </nav>
    </header>
    <main>
      <%- yield %>
    </main>
    <footer>
      <details class="style">
        <summary>
          <svg id="style"><use xlink:href="application.svg#leaf"/></svg>
          <h5>Style</h5>
        </summary>
        <style media="screen">
          * remove {
            outline: 1px solid hsla(203, 58%, 57%, 0.9);
          }
        </style>
      </details>
      <details class="script">
        <summary contenteditable="false">
          <svg id="script"><use xlink:href="application.svg#leaf"/></svg>
          <h5>Script</h5>
        </summary>
        <script type="text/javascript" >
          document.body.addEventListener('keydown', function(keydown) {
            var enter = 13;
            if(keydown.keyCode == enter && keydown.metaKey) {
              var content = document.querySelector("body")
              if( content.isContentEditable ) {
                content.removeAttribute("contenteditable");
              } else {
                content.setAttribute("contenteditable",  true);
              }
            }
          });
        </script>
      </details>

    </footer>
