@require "style"

*
  margin:0
  padding:0
  box-sizing: border-box
  vertical-align: baseline;

  transition-timing-function: ease-out
  transition-duration: 0.25s
  transition-property: border, color, margin, padding, width
  animation-duration: 0.5s
  animation-fill-mode: both
