<figure>
  <svg id='hero'>
    <use xlink:href="application.svg#logo"/>
    <use xlink:href="application.svg#logo" opacity="0.15" fill="transparent" transform="scale(0.997, 0.998)"/>
  </svg>
  <figcaption>
    <h5>alpha:<span id="alpha"></span></h5>
    <h5>beta:<span id="beta"></span><br></h5>
    <h5>gamma:<span id="gamma"></span><br></h5>
  </figcaption>

</figure>
