<h1>Lorem ipsum dolor</h1>
<h2>Lorem ipsum dolor</h2>
<h3>Lorem ipsum dolor</h3>
<h4>Lorem ipsum dolor</h4>
<h5>Lorem ipsum dolor</h5>
<h6>Lorem ipsum dolor</h6>
<article>
  <header>
    <h2>Typographic and layout goals</h2>
  </header>
  <section>
    <p>
      Tie the layout of the page together via a fluid font-size
      this design invests in the certainty of infinite device sizes over time.
      this is is built from a tiny web framework <a href="#https://github.com/scott-fryxell/littleman">littleman</a>
    </p>
    <ul>
      <li>Font-size built  matches any device width</li>
      <li>Line length supports readability</li>
      <li>Heading size based on a modular scale</li>
      <li>Vertical rhytym with a common baseline</li>
      <li>new design elements are easily added to layout</li>
    </ul>

    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim  id est laborum. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit
    </p>
    <p>
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea <a href="#commodo">commodo</a> consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit,
    </p>
    <p>
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit,
    </p>
  </section>
  <footer>
  </footer>
</article>
