a
  display: inline-flex
  color: blue
  text-decoration: none
  text-shadow: 0.2px 0px darken(blue, 50%)

p > a
  transition-property: all
  transition-duration: 0.8s
  transition-timing-function: ease-in-out
  transition-delay: 0.1s
  border-bottom: 1px solid blue
  border-bottom-right-radius: 1px
  border-bottom-left-radius: 1px
  &:hover
    transition-property: all
    border-bottom: 1.35px solid blue
    border-bottom-right-radius: 2px
    border-bottom-left-radius: 2px

nav
  margin-top: base-line
  // display: flex
  // // order: 1
  // flex-direction:column
  // align-content: flex-start
  // align-items:stretch;
  // align-content:space-around;
  //
  & > a
  & > textarea
    between: font-size, min-font, max-font, min-screen, max-screen
    color: white
    padding-top: base-line
    text-shadow: none
    text-shadow: 0px 1px 3px black
    font-weight: bold
    display:inline-block
    width: 37vw
    margin-bottom: 1.33rem
    height: 20vh
    border-radius: .22rem
    text-transform: capitalize
    &:hover
      color: red
    text-align: center
    vertical-align: middle

    &:nth-child(odd)
      margin-right: base-line
    &:hover
      color: red
    &.yellow
      color:red
      text-shadow: 1px 0px 0px black
      &:hover
        color:pink
    &.red
      color:white
      &:hover
        color: blue
nav
  & > textarea
    transition-property: all
    outline: none
    overflow: auto
    box-shadow: none
    resize: none
    -webkit-appearance: none
    &:focus
      transition-duration: .4s
      transition-property: line-height, padding
      width: 100%
      line-height: base-line
      user-select: text
      padding:0
      border-width: 0
      height: 100vh
      background-color: white
      border-color: white

      &::placeholder
        text-align: left
        color: blue
        text-shadow: none


    &::placeholder
      padding:0
      vertical-align: middle
      between: font-size, min-font, max-font, min-screen, max-screen
      text-align: center
      color: white
