@require "../variables"

body
  padding: base-line
  min-height:100vh
  border:none
  display:flex
  flex-direction: column
  justify-content: flex-start
  align-items: center;
  line-height: remove-unit(base-line)
  user-select: none

  & > header
    width: 100%
