
textarea
   padding: 0.25rem
   border-radius: 0.25rem
   border:0.05rem solid green
   background-color: black
   color:white
   font-size: 1rem

input
textarea
[contenteditable]
  user-select: text
