black = #1F232C
white = #F7F7F7
grey = #A0A8AD

// version 1
blue = #1D45C9
green = #42DCAC
red = #710101
orange = #FF9134
yellow = #FFDD00
pink = #F894C3

// version 2
red = #FF0909
pink = #FEB4B4
green = #033517
blue = #A8E2C8
yellow = #FFCC3B
orange = #FF9134





editor-on-color = red
published-color = green

highlight         = -webkit-linear-gradient( top left, transparent, white  )
reverse-highlight = -webkit-linear-gradient( top left, transparent, black  )

.block
  display:inline-block
  width: 20vw
  height: 20vh

.grey
  background-color: grey

.yellow
  background-color: yellow
.green
  background-color: green
.orange
  background-color: orange
.red
  background-color: red
.pink
  background-color: pink
.blue
  background-color: blue
.black
  background-color: black
.white
  background-color: white
