// version 1
black = #1F232C
white = #F7F7F7
grey = #A0A8AD
blue = #1D45C9
green = #42DCAC
red = #710101
orange = #FF9134
yellow = #FFDD00
pink = #F894C3

// version 2
black = #1F232C
white = #F7F7F7
grey = #A0A8AD
red = #FF0909
pink = #FEB4B4
green = #033517
blue = #A8E2C8
yellow = #FFCC3B
orange = #FF9134
