

// version 3
black = #1F232C
white = #F7F7F7
grey = rgba(155	155	155	1)

pink = rgba(235	87	191	1)
red = rgba(238	83	47	1)
blue = rgba(37	130	205	1)
yellow = rgba(255	238	66	1)

editor-on-color = red
published-color = green

highlight         = -webkit-linear-gradient( top left, transparent, white  )
reverse-highlight = -webkit-linear-gradient( top left, transparent, black  )

.black
  background-color: black
.white
  background-color: white
.grey
  background-color: grey
.yellow
  background-color: yellow
.green
  background-color: green
.orange
  background-color: orange
.red
  background-color: red
.pink
  background-color: pink
.blue
  background-color: blue
