body[contenteditable]
  // background-image: linear-gradient(green-fill 1px, transparent 1px)
  // background-size: (base-line / 12 ) base-line
  // animation: hue 10s infinite linear
  border: base-line solid editor-on-color
  border-top: none
  border-bottom:none
  padding-left: 0
  padding-right: 0

  & *
    user-select: auto
