@require 'variables'
@require 'color'
@require 'mixins'
@require 'typography'
@require 'keyframes'
@require 'states'
@require 'elements'
@require 'hero'
@require 'developer'


details[itemtype="http://schema.org/blog"]
  display: flex
  flex-direction: column-reverse
  padding: bases-line
