@require 'variables'
@require 'color'
@require 'mixins'
@require 'typography'
@require 'keyframes'
@require 'states'
@require 'elements'
@require 'hero'
@require 'developer'

main
  width: 100%

section#posts
  transition-property: all
  width: 100%
  header
    display: flex
    flex-direction:column
    align-items: center

  textarea
    height: base-line * 2
    line-height: base-line * 2
    vertical-align:middle
    padding:0

    border:0.125em solid blue
    between: font-size, min-font, max-font, min-screen, max-screen
    background-color: transparent
    color:black

    transition-property: all
    outline: none
    overflow: auto
    box-shadow: none
    resize: none
    -webkit-appearance: none

    &:focus
      transition-duration: .4s
      transition-property: line-height
      width: 100%
      line-height: base-line
      user-select: text
      padding:0
      border-width: 0
      height: 100vh
      &::placeholder
        text-align: left
        color: blue

    &::placeholder
      padding:0
      vertical-align: middle
      between: font-size, min-font, max-font, min-screen, max-screen
      text-align: center
      color: green
