section#posts
  width: 100%

  form
    display: flex
    flex-direction:column
    align-items: stretch

  textarea
    width: 100%
    padding:base-line
    background-color: white-fill
    color:black
    border:0.1rem solid red

    &::placeholder
      color: blue

  button
    color:green
    background-color: white-fill
    border:0.1rem solid green
    border-radius: .2rem
