details
  padding:gutter
  margin: gutter
  border:0.15rem solid highlight
  background: highlight
  border-radius:0.25rem
  & > summary
    padding: 2vh 2vw;
    text-decoration: underline
    cursor: pointer
    &::-webkit-details-marker
      display:none
    // &:focus
    //   // outline:none
    //   border-bottom: 0.25rem solid highlight
  &[open] > summary
    text-decoration: none
