:active
  outline:none

:focus
  outline:2px solid ghost
  // margin: gutter
  // border:0.1rem solid dark-text
  // border-radius:0.5rem
:hover
  // outline:2px solid ghost

:visited
 // outline:2px solid ghost
