// color

white             = hsla( 57, 41%, 69%, 0.95)
blue              = hsla(203, 58%, 57%, 0.69)
green             = hsla(136, 47%, 53%, 1)
green-fill        = hsla(136, 47%, 53%, 0.5)
red               = hsla(353, 83%, 57%, 0.73)

dark              = hsla(262, 16%, 23%, 0.9)
dark-text         = hsla(300,  1%, 35%, 0.95)
ghost             = hsla( 57, 41%, 69%, 0.2)
editor-on-color   = red

highlight         = -webkit-linear-gradient( top left, transparent, ghost  )
reverse-highlight = -webkit-linear-gradient( top left, transparent, dark  )

// layout
gutter    = 1rem
laptop    = 65rem
