dark = #333
white = hsla(57, 41%, 69%, 1)
ghost = hsla(57, 41%, 69%, 0.2)
highlight = -webkit-linear-gradient(top left, transparent, ghost  )
reverse-highlight = -webkit-linear-gradient(top left, transparent, dark  )
gutter = 1rem
