dark  = hsla(262, 16%, 23%, 0.9)
white = hsla(57, 41%, 69%, 1)
ghost = hsla(57, 41%, 69%, 0.2)
dark-text  = hsla(262, 16%, 23%, 0.80)
editor-on-color = hsla(353, 83%, 57%, 0.73)

highlight = -webkit-linear-gradient(top left, transparent, ghost  )
reverse-highlight = -webkit-linear-gradient(top left, transparent, dark  )
gutter = 1rem
