<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>Scott Fryxell</title>
    <link rel="canonical" href="https://scott-fryxell.github.io/">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body class='developer'>
    <header>
      <a href="/"><svg id="logo"><use xlink:href="/application.svg#logo"/></svg></a>
      <nav>
        <a href="/style_guide">Style</a>
        <a href="/social_network/profile">Profile</a>
        <a href="/storage">Storage</a>
        <a href="/item">Item</a>
      </nav>
    </header>
    <main>
      <%- yield %>
    </main>
    <footer>
      <details class="style">
        <summary>
          <svg id="style"><use xlink:href="/application.svg#leaf"/></svg>
          <h5>Style</h5>
        </summary>
        <style media="screen">
          * remove {
            outline: 1px solid hsla(203, 58%, 57%, 0.9);
          }
        </style>
      </details>
      <details class="script">
        <summary contenteditable="false">
          <svg id="script"><use xlink:href="/application.svg#leaf"/></svg>
          <h5>Script</h5>
        </summary>
        <script type="text/javascript" >
          document.body.addEventListener('keydown', function(keydown) {
            var enter = 13;
            if(keydown.keyCode == enter && keydown.metaKey) {
              var content = document.querySelector("body")
              if( content.isContentEditable ) {
                content.removeAttribute("contenteditable");
              } else {
                content.setAttribute("contenteditable",  true);
              }
            }
          });
        </script>
      </details>
    </footer>
  </body>

</html>
