<!DOCTYPE html>
<html>
  <head>
    <title>Hit Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/application.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
  </head>
  <body class='developer'>
    <header>
      <h1><a href="/">Hit gallery</a></h1>
      <nav>
        <a href="/info.html">Info</a>
        <a href="/alien_artifacts/index.html">Exhibitions</a>
      </nav>
    </header>
    <main>
      <%- yield %>
    </main>
  </body>
</html>
