<!DOCTYPE html>
<html manifest="cache.appcache">
  <head>
    <title>Scott Fryxell</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="/application.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Archivo+Narrow|Barlow+Condensed:400,500|Bitter:400i|Comfortaa|Domine|Dosis|Encode+Sans+Condensed|Istok+Web|Lora|News+Cycle|Nunito|Oxygen|Pathway+Gothic+One|Questrial|Rufina|Varela+Round" rel="stylesheet">
    <link rel="canonical"  href="https://scott-fryxell.github.io/">

    <script src="/scripts/vue.js"></script>
    <script src="/scripts/Item.js"></script>
    <script src="/scripts/timeago.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  </head>
  <body class='developer'>
    <header>
      <a tabindex="-1" href="/">
        <svg id="logo"><use xlink:href="/application.svg#logo"/></svg>
      </a>
      <nav>
        <a tabindex="-1" href="/mark_gardner">mark</a>
        <a tabindex="-1" href="/martin_newell">martin</a>
        <a tabindex="-1" href="/resume">CV</a>
        <a tabindex="-1" href="https://cash.me/$ScottFryxell" target="_blank">$</a>
      </nav>
    </header>
    <main>
      <%- yield %>
    </main>
  </body>
</html>
