<!DOCTYPE html>
<html>
  <head>
    <title>TLPO: The Light Pours Out</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/application.css">
    <link href="https://fonts.googleapis.com/css?family=Michroma|Abel|Archivo+Narrow|Barlow+Condensed:400,500|Bitter:400i|Comfortaa|Domine|Dosis|Encode+Sans+Condensed|Istok+Web|Lora|News+Cycle|Nunito|Oxygen|Pathway+Gothic+One|Questrial|Rufina|Varela+Round" rel="stylesheet">
  </head>
  <body class='developer'>
    <header>
      <a tabindex="-1" href="/">
        <img src="/graphics/the_light_pours_out.svg" alt="">
      </a>
    </header>
    <main>
      <%- yield %>
    </main>
  </body>
</html>
