<section>

  <h1>
    <span class="red block"></span>
    <span class="green block"></span>
    <span class="yellow block"></span>
    <span class="black block"></span>
    <span class="pink block"></span>
    <span class="blue block"></span>
    <span class="orange block"></span>
    <span class="grey block"></span>

  </h1>

</section>
