
<section id="posts">
  <header>
    <textarea tabindex="1" placeholder="Wat?" v-model="new_post" v-on:focusout="addPost"></textarea>
  </header>
  <section itemscope itemtype="http://schema.org/blog">
    <article  v-for="post in posts" itemscope itemtype="http://schema.org/SocialMediaPosting">
      <header><time itemprop="created_at" :datetime="post.created_at"></time></header>
      <p itemprop="articleBody">{{post.articleBody}}</p>
    </article>
  </section>
 </section>

<template id="assertions">
  the page wil load from cache first
  the page will persist to firebase
</template>

<script id="app">
  var storage = {
    key: "some-posts",
    save() {
      var posts = document.querySelector('[itemtype="http://schema.org/blog"]').innerHTML
      localStorage.setItem(storage.key, posts)
    },
    load() {
      let posts_string =  localStorage.getItem(this.key)
      let posts = document.createRange().createContextualFragment(posts_string)
      posts.getItems = Item.get_items
      return posts.getItems('http://schema.org/SocialMediaPosting')
    }
  }

  var app = new Vue({
    el:   'section#posts',
    data: {
      posts: storage.load(),
      new_post: ''
    },
    methods: {
      addPost() {
        let value = this.new_post && this.new_post.trim()
        if (!value) { return }
        this.posts.push({
          articleBody: value,
          created_at: new Date().toISOString()
        })
        this.new_post = ''
        storage.save()
      }
    },

    watch: {
      posts() {
        Vue.nextTick( () => {
          storage.save()
        })
      }
    }
  })
</script>
