
<script type="text/javascript" src="/scripts/timeago.js"></script>

<section id="posts" itemscope itemtype="http://schema.org/blog">
  <header>
    <textarea tabindex="1" placeholder="Wat?" v-model="new_post" v-on:focusout="addPost"></textarea>
  </header>

  <article  v-for="post in posts" :key="post.id" itemscope itemtype="http://schema.org/SocialMediaPosting" >
    <p itemprop="articleBody">{{post.body}}</p>
    <footer>
      <time itemprop="created_at" :datetime="post.created_at"></time>
    </footer>
  </article>
 </section>

<template id="assertions">
  As a user I can update my profle with a new post
  posts will communicate when they are created_at
  posts will be persisted to local storage
  the page wil load from cache first
</template>

<script id="app">
  var app = new Vue({
    el:   'section#posts',
    // data: document.getItems("http://schema.org/SocialMediaPosting")
    data: {
      posts: [],
      new_post: ''
    },
    methods: {
      addPost: function() {
        var value = this.new_post && this.new_post.trim()
        if (!value) {
          return
        }
        this.posts.push({
          id: 1,
          body: value,
          created_at: Date()
        })
        console.log('adding a post time');
        this.new_post = ''
      }
    }
  })
</script>
