<section id="scott-fryxell" itemscope itemtype="http://schema.org/Person">
  <style media="screen">
    #scott-fryxell menu > a {
      display:block;
      max-width:10rem;
    }
    p[itemprop="address"]{
      margin-bottom:0;
    }
    section.experience header > h3 {
      margin-bottom:0;
    }
    #skills ul {
      margin:0;
      padding:0;
      max-width:34rem;
    }
    #skills ul li {
      display: inline-block;
    }
    #skills ul li::after {
      content: ','
    }
  </style>
  <section>
    <header>
      <h1 itemprop="name">Scott Fryxell</h1>
    </header>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">San Francisco</span>
    </p>
    <footer>
      <menu>
        <a itemprop="email" href="mailto:sfryxell@gmail.com">sfryxell@gmail.com</a>
      </menu>
    </footer>
  </section>
  <section id="skills">
    <header>
      <h2>Skills</h2>
    </header>
    <p itemprop="description">Web application architecture and development</p>
    <p itemprop='skills' itemtype="http://schema.org/skills">
      JavaScript, CoffeeScript, Babel, Webpack, Gulp, React, CSS, HTML5,
      Ruby on Rails, Node, Stylus, Sass,Git, Product Development,
      User Interface Design, Scalability
    </p>
  </section>
  <section class="experience">
    <header>
      <h2>Experience</h2>
    </header>
    <article>
      <header >
        <h3 itemprop="jobTitle">Software Developer</h3>
        <h6><time datetime="2014-04-01 00:00">April 2014</time> - Present</h6>
      </header>
      <p itemprop="description">focused on working on short term, high impact
       web projects. Most recently I served as the release engineer for
       <a href="http://www.eatjust.com/en-us">Hampton Creek's</a> website launch</p>
       <p itemprop="description">
         I've spent a lot of this time helping a vintage clothing store called
         <a itemprop="url" href="https://www.instagram.com/vacationsf4sale/">Vacation</a>
         with all aspects of the busines, from selling clothing and
         supporting shows that we have in the basement, to working with the owner
         to increase profits and bring in a business partner. I'm there as a
         resource for a store that has a mission that I believe in</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Lead Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a itemprop="url" target="_blank" href="https://www.savvy.is/">
              <span itemprop="name">Savvy</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2015-03-01 00:00">March 2015</time> -
          <time itemprop="enddate" datetime="2015-09-01 00:00">September 2015</time>
        </h6>
      </header>
      <p itemprop="description">Savvy, a WebRTC based video streaming service
        that connects teachers and learners, received its first round of funding
        within two weeks of my start date. I spent my first three months
        architecting and building the minimum viable product. The next three
        months I hired the dev team and we built our beta release.</p>
      <p itemprop="description">I designed and built out Savvy's double sided
        marketplace using Stripe. I integrated Savvy's calendar features into
        Google Calendar. I built out a front end framework optimized for writing
        CSS and event driven javascript.</p>
      <p itemprop="description">I hired another senior engineer to guarantee
        consistency and a junior developer to bring us energy and innovation.
        I focused on creating a mutually supportive team atmosphere while also
        setting the highest possible standards for development.</p>
      <p itemprop="description">Code coverage was at 100% on my last day.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a itemprop="url" target="_blank" href="http://corp.tout.com/">
              <span itemprop="name">Tout</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2013-08-01 00:00">August 2013</time> -
          <time itemprop="enddate" datetime="2014-05-01 00:00">May 2014</time>
        </h6>
      </header>
      <p itemprop="description">Built the administrative console our partners
        used to access and configure how their embedded content is viewed.
        Developed the Tout Javascript SDK and products used to embed Tout
        video players on partner websites. Analyzed and optimized client-side
        and server-side performance for a very high volume system.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Lead engineer, Founder, and CEO</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">Copper</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2010-01-01 00:00">January 2010</time> -
          <time itemprop="enddate" datetime="2014-03-01 00:00">January 2014</time>
        </h6>
      </header>
      <p itemprop="description">Founded, architected, and lead the development
        of an online tipping and appreciation service from concept to fully
        functional product. Hired a team of developers,  brought in investment,
        and worked with the incubator Hattery Labs to develop brand.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">Kosmix Inc</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2008-06-01 00:00">June 2008</time> -
          <time itemprop="enddate" datetime="2009-01-01 00:00">January 2009</time>
        </h6>
      </header>
      <p itemprop="description">Took over an internal AdWords purchasing
        application built in Adobe Flex and Rails. Ported the entire code
        base to Rails and completed the project 9 months ahead of schedule.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a  itemprop="url" target="_blank" href="https://www.flixster.com/">
              <span itemprop="name">Flixster Inc </span>
            </a>
          </span>
        </h3>
        <h6 itemprop="duration" itemscoped itemtype="http://schema.org/Event">
          <time itemprop="startdate" datetime="2007-11-01 00:00">November 2007</time> -
          <time itemprop="enddate" datetime="2008-05-01 00:00">May 2008</time>
        </h6>
      </header>
      <p itemprop="description">Implemented new functionality for homepage and
        the site’s most popular feature, “Never Ending Movie Quiz”. Optimized
        site for search engines. Evangelized adoption of more consistent
        javascript framework.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a itemprop="url" target="_blank" href="https://www.realnetworks.com/">
              <span itemprop="name">Real Networks</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2006-06-01 00:00">June 2006</time> -
          <time itemprop="enddate" datetime="2007-07-01 00:00">July 2007</time>
        </h6>
      </header>
      <p itemprop="description">Architected and implemented a publishing rights
        application. Built a search service based on Lucent, which is able to
        query over 2 million tracks with result times consistently ten times
        faster than the existing search system. Created a continuous build
        system with the help of Maven and Continuum. Leveraged Prototype,
        Scriptaculous and some of my own event based insanity to focus the
        middle tier on marshaling data to the client.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a itemprop="url" target="_blank" href="http://lrn.com/">
              <span itemprop="name">LRN</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2005-06-01 00:00">June 2005</time> -
          <time itemprop="enddate" datetime="2006-06-01 00:00">June 2006</time>
        </h6>
      </header>
      <p itemprop="description">Developed cross browser backward and forward
        compatible User Agent framework based on Tapestry. Designed a client
        event model that supported multiple event bindings, dynamic component
        initialization based on custom HTML attributes. Created a development
        environment that abstracted developers from the specifics of how the
        user interface functioned.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">NewScale</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2004-05-01 00:00">May 2004</time> -
          <time itemprop="enddate" datetime="2005-06-01 00:00">June 2005</time>
        </h6>
      </header>
      <p itemprop="description">Worked with offshore developers on best practices
        for struts, tiles, and general application development. Implemented a
        development build system that supports deployment to multiple
        applications servers and operating systems. The build was customizable at
        appropriate resolutions and ran 500% faster than the previous build
        system.</p>
      <p itemprop="description">Spearheaded the refactor of the user interface to
        conform to web standards, decreasing page size between thirty to sixty
        percent, providing for cross-platform browser support, both forward and
        backwards compatibility, application skinning, global print capabilities,
        as well as WAP and palm support.</p>
      <p itemprop="description">Implemented a templating mechanism to increase
        code reuse and simplified development workflow.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">Covalent Technologies</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2002-09-01 00:00">September 2002</time> -
          <time itemprop="enddate" datetime="2002-05-01 00:00">May 2004</time>
        </h6>
      </header>
      <p itemprop="description">Managed a team of 5 developers from design through
        release. Architected and drove the implementation of the presentation
        layer for an enterprise application management portal. Evangelized,
        implemented, and maintained a modular approach for the user interface
        elements, which increased code reuse and reduced time to market</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">SVTechnology</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2001-06-01 00:00">June 2001</time> -
          <time itemprop="enddate" datetime="2002-09-01 00:00">September 2002</time>
        </h6>
      </header>
      <p itemprop="description">Facilitated the migration of a knowledge
        management portal application from ColdFusion to J2EE. Mentored 6
        developers through this transition. Proposed the application architecture
        and development migration path from ColdFusion to java, which entailed
        porting an unwieldy, two tiered web application, to a scalable,
        multi-tiered, fault tolerant enterprise application. Designed a flexible,
        and scalable security system, which was applied at different levels of
        granularity throughout the application.</p>
      <p itemprop="description">Provided technical support to client engineers,
        prospective customers, and business partners. Performed onsite
        installations and integration of application. Introduced departmental
        reorganizations, and development processes such as: use cases, functional
        specification, design meetings, code reviews, that greatly increased
        application stability, and the capacity to quickly add features to the
        application.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">WiseConnect</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2000-06-01 00:00">June 2000</time> -
          <time itemprop="enddate" datetime="2001-06-01 00:00">June 2001</time>
        </h6>
      </header>
      <p itemprop="description">Ported the beta of the product from a rigid,
        duplicative, asp.net application architecture to a multi-tiered,
        MVC based, Java application. Evaluated and implemented drivers for
        use with Microsoft’s SQL Server that resulted in a three fold increase
        in application scalability. Developed flexible personalization and robust
        security services which allowed other developers to focus on the
        specifics of application development.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <span itemprop="name">Kids Online America</span>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="2000-01-01 00:00">January 2000</time> -
          <time itemprop="enddate" datetime="2000-07-01 00:00">July 2000</time>
        </h6>
      </header>
      <p itemprop="description">Designed and implemented a personalization and
        security mechanism that created a secure, configurable environment for
        children to experience the Internet. Developed a lightweight application
        for rating and retrieving acceptable content for children. Built
        personalization features that allowed parents to determine the types of
        content delivered to their children.</p>
    </article>
    <article itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name">Software Engineer</span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place" >
            <a itemprop="url" target="_blank" href="https://www.orrick.com/">
              <span itemprop="name">Orrick, Herrington Sutcliffe LLP</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startdate" datetime="1998-03-01 00:00">March 1998</time> -
          <time itemprop="enddate" datetime="2000-03-01 00:00">March 2000</time>
        </h6>
      </header>
      <p itemprop="description">Developed and maintained Visual Basic applications
        for the different departments within the firm. Designed and implemented
        an unattended Windows NT desktop installation which included the
        installation of 23  applications for 1400 users #rm wide. Developed
        regression tests to ensure application stability. Organized the #rm’s
        technical support efforts. These efforts noticeably decreased the
        turnaround time in addressing users support issues.</p>
    </article>
  </section>
  <template id="job">
    <article class="job" itemscope itemtype="http://schema.org/Event/Job">
      <header>
        <h3>
          <span itemprop="name"></span> at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <a itemprop="url" href="http://link-to-company.com">
              <span itemprop="name">Company Name 2</span>
            </a>
          </span>
        </h3>
        <h6>
          <time itemprop="startDate"></time> - <time itemprop="endDate"></time>
        </h6>
      </header>
      <p itemprop="description"></p>
    </article>
  </template>
</article>
