<nav>
  <a class="black" tabindex="-1" href="/mark_gardner">mark</a>
  <a class="yellow" tabindex="-1" href="/martin_newell">martin</a>
  <a class="red" tabindex="-1" href="/esmerelda">esmerelda</a>
</nav>
