
<section id="info">
  <header>
    <h4>About</h4>
    <p>
      HIT Gallery is an artist run gallery and event space in San Francisco’s
      Mission district. Our premier mission is to show work and disciplines
      that challenge the convention of commercial/mainstream work. We focus
      primarily on innovative artist in the Bay Area art community from a
      broad range of backgrounds.
    </p>
  </header>

  <div class="address">
    <p>2740 16th street</p>
    <p>San Francisco, CA</p>
  </div>
  <p>
    <a href="mailto:hitgallerysf@gmail.com">hitgallerysf@gmail.com</a>
  </p>
  <p>Hours by appiontment</p>
</section>
