<section id="item-test">
  <article id="story" itemscope itemtype="schema.org/person" itemid="http://scott-fryxell.github.io">
    <span itemprop="firstName">Scott</span>
    <link itemprop="url" href="http://scott-fryxell.github.io">
  </article>
  <aside itemref="story">
    <span itemprop="lastName">Fryxell</span>
  </aside>
  <script id="assert">
    function can(condition, message) {
      if (!condition) {
        throw new Error(message || 'Assertion failed');
      }
    }
  </script>
  <script id='test'>
    console.assert(document.getItems(), 'getItems() is broken');
  </script>
</section>
