<section id="app">
  <h1>{{ message }}</h1>
</section>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })
</script>

<template id="loan">

</template>
