<section id="app">
  <h1>Kiva loans</h1>
  <h4>{{ values.length }} expiring in the next 24 hours</h4>
  <ol id="loans">
    <loan
     v-for="loan in values"
     v-bind:loan="loan"
     v-bind:key="loan.id">
   </loan>
  </ol>

</section>
<script id="graph-query" type="text/javascript">
  let $query = `{
    loans(filters: { expiringSoon: true,
                          country: ["US"],
                           status: fundRaising
                   },
                   sortBy: expiringSoon,
                   limit: 100){
      totalCount
      values {
        id
        name
        use
        loanAmount
        fundedAmount
        plannedExpirationDate
        image {
          url(presetSize: default)
        }
        activity {
          name
        }
      }
    }
  }`;
  let $url ="http://api.kivaws.org/graphql?query=" + encodeURI($query);
</script>
<script id="get-data" type="text/javascript">
  fetch($url).then(function (response) {
    return response.json()
  }).then(function (results) {
    let tomorrow = new Date( new Date().getTime() + (24 * 60 * 60 * 1000) )

    results.data.loans.values = results.data.loans.values.filter( (item) => {
      let expires = new Date(item.plannedExpirationDate)
      return expires < tomorrow
    });

    var app = new Vue({
      el: '#app',
      data: results.data.loans
    });
  }).catch(function (ex) {
    console.error('failed', ex);
  });
</script>
<script id="loan-component" type="text/javascript">
  Vue.component('loan', {
    props: ['loan'],
    template: '#loan'
  })
</script>
<template id="loan">
  <li>
    <figure>
      <img :src="loan.image.url">
      <figcaption >
        <h4><a :href="'https://www.kiva.org/lend/' + loan.id">{{loan.name}}</a></h4>
        <p>{{loan.use}}</p>
      </figcaption>
    </figure>
  </li>
</template>
<style scoped>
  ol {
    list-style-type: none;

  }
  li {
    margin-bottom:1.33rem
  }
  figure {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  figure > img {
    margin-right:1.33rem;
    border-radius:.33rem;
  }
</style>
