<section id="app">
  <h1>{{ message }}</h1>
</section>

<script id="view-set-up" type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })
</script>
<script id="query" type="text/javascript">
  var $query = `{
    loans(filters: { expiringSoon: true,
                          country: ["US"],
                           status: fundRaising
                   },
                   sortBy: expiringSoon,
                   limit: 100){
      totalCount
      values {
        id
        name
        use
        loanAmount
        fundedAmount
        plannedExpirationDate
        image {
          url(presetSize: default)
        }
        activity {
          name
        }
      }
    }
  }`;
  $query = encodeURI($query);
</script>

<script id="ajax" type="text/javascript">
  let xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
  xhr.open('GET', "http://api.kivaws.org/graphql?query=" + $query);
  xhr.onreadystatechange = () => {
    if (xhr.readyState > 3 && xhr.status === 200) {
        console.log(xhr.responseText);
    }
  };
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  xhr.send();
</script>


<template id="loan">
  <article>
    <img src="{{loan.image.url}}">
    <h3><a href="https://www.kiva.org/lend/{{loan.id}}">{{loan.name}}</a></h3>
    <p>{{description}}</p>
  </article>
</template>
