<section id="app">
  <h1>{{ message }}</h1>
</section>
<script id="graph-query" type="text/javascript">
  let $query = `{
    loans(filters: { expiringSoon: true,
                          country: ["US"],
                           status: fundRaising
                   },
                   sortBy: expiringSoon,
                   limit: 100){
      totalCount
      values {
        id
        name
        use
        loanAmount
        fundedAmount
        plannedExpirationDate
        image {
          url(presetSize: default)
        }
        activity {
          name
        }
      }
    }
  }`;
  let $url ="http://api.kivaws.org/graphql?query=" + encodeURI($query);
</script>

<script id="initialize" type="text/javascript">
  fetch($url).then(function (response) {
    return response.json()
  }).then(function (results) {
    console.log(results.data)
    var app = new Vue({
      el: '#app',
      data: results.data.loans,

    })
  }).catch(function (ex) {
    console.error('failed', ex);
  });
</script>

<template id="loan">
  <article>
    <img src="{{loan.image.url}}">
    <h3><a href="https://www.kiva.org/lend/{{loan.id}}">{{loan.name}}</a></h3>
    <p>{{description}}</p>
  </article>
</template>
