itemid="http://scott-fryxell.github.io"
itemid="/events"
itemid="/groups"
itemid="/groups"

<section id="profile" itemscope itemtype="/human-being" itemid="http://scott-fryxell.github.io">
  <header>
    <profile>
  </header>
  <section id="posts" itemscope itemtype="http://schema.org/Blog">
    <header>
      <form action="index.html" method="post">
        <textarea name="name" placeholder="Say it"></textarea>
        <input type="submit" name="" value="Say it">
      </form>
    </header>
  </section>
</section>

<template id="post">
  <article itemscoped itemtype="http://schema.org/CreativeWork" >
    <header>
      <time itemprop="created_at" datetime="{{Date.now()}}">Just Now</time>
    </header>
    <p itemprop="text">The night that we spent among the trees and our love</p>
  </article>
</template>

<template id="assertions">
  As a user
    when I load the page it shows my posts
    I can update my profle with a new post
    when I post some text to my profile it is refelcted on my facebook page
</template>

<template id="friends">
  <nav itemscoped itemtype="friends" id="friends">
    <a itemprop="friend" href="/katie">Katie</a>
    <a itemprop="friend" href="/kristin">kristin</a>
  </nav>
</template>

<template id="like">
  <aside id='activity'>
    <a itemprop='like' href="/katie/photos/1.jpg">
      <time itemprop="" datetime="{{Date.now()}}">Yesterday</time>
    </a>
  </aside>
</template>

<template id="profile">
    <figure>
      <img src="{{data.graphic}}" alt="">
      <figcaption>{{data.name}}</figcaption>
    </figure>
</template>
