<section id="posts" itemscope itemtype="http://schema.org/blog">
   <aside>
    <h1>loading...</h1>
  </aside>
  <header>
    <posts-form>
  </header>
  <posts-lists>
 </section>

<script id="initialize-firebase">
  // Initialize Firebase
  let config = {
    apiKey: "AIzaSyDpRbQe67nfP2HTxkThxhY2Fk-ru0x2aus",
    authDomain: "littleman-8f289.firebaseapp.com",
    databaseURL: "https://littleman-8f289.firebaseio.com",
    storageBucket: "littleman-8f289.appspot.com",
    messagingSenderId: "363642054727"
  }
  firebase.initializeApp(config)
  const storage_ref = firebase.storage().ref()
  const auth = firebase.auth()
</script>

<script id="initialize-user">
  auth.onAuthStateChanged( user => {
    if (user) {
      // User is signed in.
      const url = `users/${auth.currentUser.uid}/posts.html`
      // load_posts(url)
      // save_posts(url)
    } else {
      // User is signed out.
      auth.signInAnonymously()
    }
  })
</script>

<script id="save-posts">
  function save_posts(url) {
    const file_parts  = [document.getElementById('posts').outerHTML]
    const user_posts  = new File(file_parts, 'posts.html')
    const metadata    = {'contentType': 'text/html'}
    storage_ref.child( url ).put( user_posts, metadata ).then( snapshot => {
      console.log('Uploaded', snapshot.totalBytes, 'bytes.')
      console.log(snapshot.metadata)
      console.log(snapshot.fullPath)
      console.log('File available at', snapshot.downloadURL)
    }).catch(console.log.bind(console))
  }
</script>

<script id="load-posts">
  function load_posts(url) {
    storage_ref.child(url).getDownloadURL()
    .then( url => fetch(url))
    .then( response => response.text() )
    .then( text => document.getElementById('posts').outerHTML = text )
    .catch( console.log.bind(console) )
  }
</script>

<script id="app">
  var app = new Vue({
    el:   'section#posts',
    data: document.getItems("http://schema.org/SocialMediaPosting")
  })
</script>

<template id="post-form">
  <form action="index.html" method="post">
    <textarea name="name" placeholder="Wat?"></textarea>
    <input type="submit">
  </form>
</template>

<template id="post">
  <article itemscope itemid="{{me.id}}/posts/{{guid}}" itemtype="http://schema.org/SocialMediaPosting" >
    <header>
      <time itemprop="created_at" datetime="{{post.created_at}}">Just Now</time>
    </header>
    <p itemprop="articleBody">{{post.body}}</p>
  </article>
</template>

<template id="assertions">
  As a user
    I can update my profle with a new post
</template>
