<details>
  <summary>Firebase init</summary>
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase-storage.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDpRbQe67nfP2HTxkThxhY2Fk-ru0x2aus",
      authDomain: "littleman-8f289.firebaseapp.com",
      databaseURL: "https://littleman-8f289.firebaseio.com",
      projectId: "littleman-8f289",
      storageBucket: "littleman-8f289.appspot.com",
      messagingSenderId: "363642054727"
    };
    firebase.initializeApp(config);
  </script>
</details>

<details>
  <summary>Storage full example</summary>

  <script type="text/javascript">
    // File or Blob named mountains.jpg
    var aFileParts = ['<a id="a"><b id="b">hey!</b></a>']; // an array consisting of a single DOMString
    // var html_doc = new Blob(aFileParts, {type : 'text/html', name:'item.html'}); // the blob
    var file = new File(aFileParts, 'item.html')

    // Create the file metadata
    var metadata = {
      contentType: 'text/html'
    };

    // Upload file and metadata to the object 'test/item.html'
    var uploadTask = storageRef.child('test').child(file.name).put(file, metadata);

    // Listen for state changes, errors, and completion of the upload.
    uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
      function(snapshot) {
        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        console.log('Upload is ' + progress + '% done');
        switch (snapshot.state) {
          case firebase.storage.TaskState.PAUSED: // or 'paused'
            console.log('Upload is paused');
            break;
          case firebase.storage.TaskState.RUNNING: // or 'running'
            console.log('Upload is running');
            break;
        }
      }, function(error) {

      // A full list of error codes is available at
      // https://firebase.google.com/docs/storage/web/handle-errors
      switch (error.code) {
        case 'storage/unauthorized':
          // User doesn't have permission to access the object
          break;

        case 'storage/canceled':
          // User canceled the upload
          break;
        case 'storage/unknown':
          // Unknown error occurred, inspect error.serverResponse
          break;
      }
      }, function() {
        // Upload completed successfully, now we can get the download URL
        var downloadURL = uploadTask.snapshot.downloadURL;
        console.log(downloadURL);
    });
  </script>
</details>
