<section>
  <article class="example headers">
    <h1>Lorem ipsum dolor</h1>
    <h2>Lorem ipsum dolor</h2>
    <h3>Lorem ipsum dolor</h3>
    <h4>Lorem ipsum dolor</h4>
    <h5>Lorem ipsum dolor</h5>
    <h6>Lorem ipsum dolor</h6>
  </article>

  <article>
    <header>
      <h2>Typography</h2>
    </header>
    <section class='typography'>
      <p>
        This design invests in the certainty of infinite device sizes over time.
        if take a look at the <a target="_blank" href="https://github.com/scott-fryxell/littleman">source code</a>
        you will see that I am using stylus to help create a layout that is flexible
        simple yet will scall to any display sized at any aspect ratio.
      </p>
      <ul>
        <li>Font-size scales to an infinitye number of device widths</li>
        <li>Line length is optimised for readability</li>
        <li>Heading size is infinitely relative to device width as well</li>
        <li>Vertical rhytym via a common baseline.</li>
        <li>easily add new elements into the design</li>
      </ul>
    </section>
  </article>

  <article>
    <figure class="profile">
      <img src="/graphics/logo.svg" alt="Scott fryxell's profile pic">
      <figcaption>Scott Fryxell</figcaption>
    </figure>
  </article>

</section>
