<section>
  <article class="example headers">
    <h1>Lorem ipsum dolor</h1>
    <h2>Lorem ipsum dolor</h2>
    <h3>Lorem ipsum dolor</h3>
    <h4>Lorem ipsum dolor</h4>
    <h5>Lorem ipsum dolor</h5>
    <h6>Lorem ipsum dolor</h6>
  </article>
  <article>
    <header>
      <h2>Typography</h2>
    </header>
    <section class='typography'>
      <p>
        Layout <a target="_blank" href="https://github.com/scott-fryxell/littleman">built</a> with stylus
      </p>

      <ul>
        <li>Font-size scales to an infinitye number of device widths</li>
        <li>Line length is optimised for readability</li>
        <li>Heading size conforms to a modular scale that is optimzed for devise size</li>
        <li>Vertical rhythm via a common baseline</li>
        <li>New design elements Will inherit from the design naturally</li>
      </ul>

      <h3>Support for infinite display sizes</h3>

      <p>
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea <a href="#commodo">commodo</a> consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h3>Line length supports readability</h3>
      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit,
      </p>

      <h3>Heading size based on a modular scale</h3>
      <p>
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <h3>Vertical rhytym via a common baseline height</h3>
      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit
      </p>
    </section>
  </article>
</section>
